<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<a th:href="@{/}">Back</a>
<p th:text="'@' + ${userForm.username}">username</p>
<p th:text="(${userForm.firstname}?${user.firstname}:'') + ' ' + (${userForm.lastname}?${userForm.lastname}:'')">username</p>
<p th:text="${#strings.toLowerCase(userForm.role)}"></p>
<br/>
<p>If you want to edit your profile click
    <a th:href="@{/profile/edit}">here</a>.
</p>
</body>
</html>