<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>
</head>
<body>
<a th:href="@{/profile}">back</a>
<h1>Settings</h1>
<form th:action="@{/profile}" th:method="PATCH" th:object="${userForm}">
    <label for="firstname">Firstname: </label>
    <input id="firstname" th:field="*{firstname}" th:value="${userForm.firstname}" type="text"/><br/>

    <label for="lastname">Lastname: </label>
    <input id="lastname" th:field="*{lastname}" th:value="${userForm.lastname}" type="text"/><br/>


    <div sec:authorize="hasRole('TEACHER')">
        <label for="description">Description: </label>
        <input id="description" th:field="*{description}" th:value="${userForm.description}" type="text"/><br/>
    </div>

    <label for="phone_number">Phone number: </label>
    <input id="phone_number" th:field="*{phoneNumber}" th:value="${userForm.phoneNumber}" type="text"/><br/>

    <label for="email">Email: </label>
    <input id="email" th:field="*{email}" th:value="${userForm.email}" type="email"/><br/>

    <input type="submit" value="Submit changes"/>
</form>
</body>
</html>