<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<a th:href="@{/profile}">back</a>
<p>If you want to edit your login click
    <a th:href="@{/profile/edit/login}">here</a>.
</p>

<p>If you want to edit your password click
    <a th:href="@{/profile/edit/password}">here</a>.
</p>

<h1>Settings</h1>
<form th:action="@{/profile/edit}" th:method="PATCH" th:object="${userForm}">

    <div sec:authorize="!hasRole('ADMIN')">
        <p>Personal:</p>
        <label class="required" for="firstname">Firstname: </label>
        <input id="firstname" required="required" th:field="*{firstname}" type="text"/>
        <div class="exception" th:errors="*{firstname}" th:if="${#fields.hasErrors('firstname')}">Firstname error</div>
        <br/>

        <label class="required" for="lastname">Lastname: </label>
        <input id="lastname" required="required" th:field="*{lastname}" type="text"/>
        <div class="exception" th:errors="*{lastname}" th:if="${#fields.hasErrors('lastname')}">Lastname error</div>
        <br/>

        <label for="patronymic">Patronymic: </label>
        <input id="patronymic" th:field="*{patronymic}" type="text"/>
        <br/>

        <label class="required" for="dateOfBirth">Birth date: </label>
        <input id="dateOfBirth" required="required" th:field="*{dateOfBirth}" type="date"/>
        <div class="exception" th:errors="*{dateOfBirth}" th:if="${#fields.hasErrors('dateOfBirth')}">Birth date error
        </div>
        <br/>

        <p>Professional:</p>
        <div sec:authorize="hasRole('STUDENT')">
            <label class="required" for="grade">Grade: </label>
            <input id="grade" required="required" th:field="*{grade}" type="number"/>
            <div class="exception" th:errors="*{grade}" th:if="${#fields.hasErrors('grade')}">Grade error</div>
            <br/>
        </div>

        <div sec:authorize="hasRole('TEACHER') || hasRole('ROLE_UNCONFIRMED_TEACHER')">

            <label class="required" for="education">Education: </label>
            <input id="education" required="required" th:field="*{education}" type="text"/>
            <div class="exception" th:errors="*{education}" th:if="${#fields.hasErrors('education')}">Education error
            </div>
            <br/>

            <label class="required" for="workExperience">Work experience: </label>
            <input id="workExperience" required="required" th:field="*{workExperience}" type="number"/>
            <div class="exception" th:errors="*{workExperience}" th:if="${#fields.hasErrors('workExperience')}">Work
                experience error
            </div>
            <br/>

            <label for="description">Description: </label>
            <textarea cols="30" id="description" rows="5" th:field="*{description}"
                      th:value="${userForm.description}"></textarea><br/>

            <label class="required" for="subjects">My subjects:</label><br/>
            <div id="subjects" th:each="subject:${subjects}">
                <input th:field="*{subjects}" th:value="${subject.id}" type="checkbox"/>
                <span th:text="${subject.name}">Subject</span><br/>
            </div>
            <div class="exception" th:errors="*{subjects}" th:if="${#fields.hasErrors('subjects')}">Subjects error</div>
            <br/>
        </div>
    </div>
    <div sec:authorize="!hasRole('ADMIN')">
        <p>Confidential:</p>
        <label for="phone_number"
               th:class="${#authorization.expression('hasRole(''TEACHER'') || hasRole(''ROLE_UNCONFIRMED_TEACHER'')')?'required':''}">Phone
            number: </label>
        <input id="phone_number" th:field="*{phoneNumber}"
               th:required="${#authorization.expression('hasRole(''TEACHER'') || hasRole(''ROLE_UNCONFIRMED_TEACHER'')')?'required':null}"
               type="text"/><br/>
        <div class="exception" th:errors="*{phoneValid}" th:if="${#fields.hasErrors('phoneValid')}">Phone number error
        </div>
        <br/>

        <label for="email">Email: </label>
        <input id="email" required="required" th:field="*{email}" type="email"/>
        <div class="exception" th:if="${emailUnique}" th:text="${emailUnique}">Email unique error</div>
        <div class="exception" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Name error</div>
        <br/>
    </div>

    <input type="submit" value="Submit changes"/>
</form>
</body>
</html>