<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<a th:href="@{/}">Back</a>
<p th:text="'@' + ${userForm.username}">username</p>
<div sec:authorize="!hasRole('ADMIN')">
    <p th:text="(${userForm.firstname}?${userForm.firstname}:'') + ' ' + (${userForm.lastname}?${userForm.lastname}:'')">
        username</p>
</div>
<p th:text="${#strings.toLowerCase(userForm.role)}"></p>
<br/>
<p>If you want to edit your profile click
    <a th:href="@{/profile/edit}">here</a>.
</p>
</body>
</html>